body {
    background-color: #fdfbfb;
  }
/* Fonts */
.Kosugi{
    font-family: 'Kosugi';
    color: rgb(116,102,89);
}

/* slider */
.slider {
    height: 50vh;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    align-items: center;
    overflow: hidden;
}

.slider__content{
    min-width: 100%;
    animation: sliderAnime 12s ease-in-out infinite;
}

@keyframes sliderAnime {
    0%{
    }
    10%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    40%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-200%);
    }
    60%{
        transform: translateX(-200%);
    }
    70%{
        transform: translateX(-300%);
    }
    80%{
        transform: translateX(-300%);
    }
    90%{
        transform: translateX(-400%);
    }
    1000%{
        transform: translateX(-400%);
    }   
}

.slider_image {
    min-width: 100%;
    max-width: 100%;
}

/* card */
.card-title{
    text-align: center;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-content-wrapper {
    display: flex;
}
  
.card-content {
    width: 45%;
}
  
.card-photo {
    height: 180px;
    width: 240px;
}

.cat-intro-img {
    width: 500px;
    height: 500px;
    object-fit: cover;
  }